body {
    font-family: Arial, sans-serif;
  }
  .header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  .contact {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: #eee;
  }
  /* Mobile Breakpoint for Contact List */
  @media only screen and (max-width: 800px) {
    .contact {
      flex-direction: column;
    }
  }
  .cert-container {
    text-align: center;
    margin-bottom: 20px;
  }
  .section {
    margin: 20px 0;
  }
  .section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  .experience {
    margin-bottom: 15px;
  }
  ul {
    list-style-type: square;
  }
  li {
    line-height: 1.5em;
  }
  .experience h3 {
    margin: 10px 0;
  }
  .education h3 {
    margin: 10px 0;
  }
  .counter-container p {
    width: 40px;
    padding: 15px;
    border: 1px dashed black;
    margin: auto;
    text-align: center;
  }
