body {
    font-family: Arial, sans-serif;
}

h1 {
  font-size: 5em;
  margin: 40px 40px 10px 40px;
}

h2, h3, h4 {
  color: #545454 !important;
}

h2 {
  margin-top: 40px;
}

#h2-header-id {
  font-size: 1em !important;
  margin-top: 0px;
  color: #fff !important;
}

/* Mobile header styling */
@media only screen and (max-width: 430px) {
  h1 {
    font-size: 4em;
    margin: 10px 0px;
  }

  .header {
    padding: 0px;
  }
}

.h2-header {
  font-size: 1.2em;
  margin-top: 0px;
}

.header {
  text-align: center;
  background-color: #fa4ef0;
  color: #fff;
  padding: 20px;
}

.contact {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: solid 1px #eee;
}

/* Mobile Breakpoint for Contact List */
@media only screen and (max-width: 800px) {
  .contact {
    flex-direction: column;
  }
}

.cert-container {
  text-align: center;
}

.what-is-this-container {
  text-align: center;
  margin-bottom: 20px;
}

.section {
  margin: 20px 0;
}

.section h2 {
  border-bottom: 2px solid #eee;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.experience {
  margin-bottom: 15px;
}

.experience h3 {
  font-size: 4em;
  margin: 10px 0;
}

.experience h4 {
  font-size: 1.5em;
  margin: 0;
}

ul {
  list-style-type: square;
}

li {
  line-height: 1.5em;
}

.education h3 {
  margin: 10px 0;
}

.counter-container p {
  width: 40px;
  padding: 15px;
  border: 1px dashed black;
  margin: auto;
  text-align: center;
}
