/* Color palette: https://www.deviantart.com/cdixon13/art/CyberPunk-2077-Palette-879017278 */

body {
    font-family: Arial, sans-serif;
    background-color: #000;
}

h1 {
  font-size: 5em;
  margin: 40px 40px 10px 40px;
  color: #ffef11;
}

.header {
  background-color: #000;
  text-align: center;
  color: #ffe564;
  padding: 20px;
}

.h2-header {
  font-size: 1.2em;
  margin-top: 0px;
}

#h2-header-id {
  font-size: 1em !important;
  margin-top: 0px;
  color: #fdf500;
}

h2 {
  margin-top: 40px;
  color: #fdf500; 
}

h3 {
  color: #37ebf3;
}

p {
  color: #fdf500;
}

li {
  color: #1ac5b0; 
}

a,
.contact p,
h4 {
  color: #cb1dcd;
}

.projects,
.experience {
  margin-bottom: 15px;
}

.projects h3,
.experience h3 {
  font-size: 2em;
  margin: 10px 0;
}

.projects h4,
.experience h4 {
  font-size: 1.5em;
  margin: 0;
}

/* Mobile header styling */
@media only screen and (max-width: 430px) {
  h1 {
    font-size: 4em;
    margin: 10px 0px;
  }

  .header {
    padding: 0px;
  }

  h2 {
    font-size: 1.25em;
  }

  .projects h3,
  .experience h3 {
    font-size: 2.25em;
    margin: 10px 0;
  }

  ul {
    padding: 10px;
    margin: 0px 5px;
  }
}

.contact {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: solid 1px #5ea8c3;
}

/* Mobile Breakpoint for Contact List */
@media only screen and (max-width: 800px) {
  .contact {
    flex-direction: column;
  }
}

.cert-container {
  text-align: center;
}

.what-is-this-container {
  text-align: center;
  margin-bottom: 20px;
}

.section {
  margin: 20px 0;
}

.section h2 {
  border-bottom: 2px solid #eee;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

ul {
  list-style-type: square;
}

li {
  line-height: 1.5em;
}

.education h3 {
  margin: 10px 0;
}

.counter-container p {
  width: 40px;
  padding: 15px;
  border: 1px dashed #545454;
  margin: auto;
  text-align: center;
}
