/* Color palette: https://www.deviantart.com/cdixon13/art/CyberPunk-2077-Palette-879017278 */

body {
  font-family: Arial, sans-serif;
  background-color: #000;
}

h1 {
  font-family: Verdana, sans-serif;
  font-size: 5em;
  margin: 40px 40px 10px 40px;
  color: #ffef11;
}

.header {
  text-align: center;
  color: #ffe564;
  padding: 20px;
}

/* Neon Flicker */
.neon {
  color: #FFD5FF;
  font-weight: 400;
  letter-spacing: 8px;
  text-shadow: 1px 0px 4px #FFD5FF, 2px 0px 4px #FFD5FF, 3px 0px 4px #FFD5FF, 2px 0px 3px #D42CCA, 2px 3px 15px #D42CCA, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #D42CCA,40px 0vw 200px #D42CCA;
}

.flicker-slow{
  animation: flicker 3s linear infinite;
}

.flicker-fast{
  animation: flicker 1s linear infinite;
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .99;
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
	}
}

.banner {
  background-image: url("banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.h2-header {
  color: #fdf500;
  font-size: 1.3em;
  letter-spacing: 2px;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
}

h2 {
  color: #fdf500;
  margin-top: 40px;
}

h3 {
  color: #37ebf3;
}

p {
  color: #fdf500;
}

li {
  color: #1ac5b0;
}

a,
h4,
.contact p {
  color: #e455ae;
}

.cert-container,
.cert {
  display: flex;
  justify-content: center;
}

.cert {
  border-radius: 5px;
  background-color: #272932;
  margin: 20px;
  padding: 15px 10px;
}

.projects,
.experience {
  margin-bottom: 15px;
}

.projects h3,
.experience h3 {
  font-size: 2em;
  margin: 10px 0;
}

.projects h4,
.experience h4 {
  font-size: 1.5em;
  margin: 0;
}

/* Indent Projects and Experience sections - 575px+ */
@media only screen and (min-width: 575px) {
  .projects,
  .experience {
    padding-left: 40px;
  }
}

/* Cert container smaller device */
@media only screen and (max-width: 575px) {
  .cert-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

/* Mobile styling */
@media only screen and (max-width: 430px) {
  h1 {
    font-size: 4em;
    margin: 10px 0px;
  }

  .header {
    padding-bottom: 20px;
  }

  .h2-header {
    color: #fdf500;
    font-size: 1em;
    letter-spacing: 1px;
  }

  h2 {
    font-size: 1.25em;
  }

  .projects h3,
  .experience h3 {
    font-size: 2.25em;
    margin: 10px 0;
  }

  ul {
    padding: 10px;
    margin: 0px 5px;
  }
}

.contact {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: solid 1px #37ebf3;
}

section {
  margin: 20px 0;
}

/* Mobile Breakpoint for Contact List */
@media only screen and (max-width: 800px) {
  .contact {
    flex-direction: column;
  }
}

.what-is-this-container {
  text-align: center;
  margin-bottom: 20px;
}

.education-section h2 {
  border-bottom: 1px solid #e455ae;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

ul {
  list-style-type: square;
}

li {
  line-height: 1.5em;
}

.education h3 {
  margin: 10px 0;
}

.counter-container p {
  width: 40px;
  padding: 15px;
  border: 1px dashed #545454;
  margin: auto;
  text-align: center;
}